p
{
    color: rgb(111, 78, 55);
    font-family: 'Fredoka', sans-serif;
    letter-spacing: 1px;
}

.mobilenet
{
    letter-spacing: 2px;
    background-color: rgb(164, 116, 73);
    color: black;
    font-family: 'Fredoka', sans-serif;
}

span
{
    letter-spacing: 1px;
    color: rgb(57, 32, 23);
    font-family: 'Fredoka', sans-serif;
}

b
{
    color: rgb(111, 78, 55);;
    letter-spacing: 1px;
    font-family: 'Fredoka', sans-serif;
}

h4
{
    color: rgb(111, 78, 55);
    font-family: 'Fredoka', sans-serif;
    letter-spacing: 0.5px;
}